.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
}



.modal__block {
    position: relative;
    min-width: 640px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.1);
}


.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.modal__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal__submit {
    cursor: pointer;
}

.modal__input_title {
    
}

.modal__input_text {
    height: 100px;
}